:root {
  --bg-color: var(--defaultW);
  --text-color: var(--defaultB);
  --button-bg: rgba(200, 200, 200, 0.45);
  --button-text: var(--defaultB);
  --txtMute: rgba(26, 26, 26, 0.2);
  --text-em: #e0801d;
  --bg-trans: rgba(241, 239, 237, 0.5);
  --nav-bg: rgba(241, 239, 237, 0.8);
  --border-color: #e0e0e0;
  --hover-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --bg-color: var(--defaultB);
  --text-color: var(--defaultW);
  --nav-bg: rgba(26, 26, 26, 0.8);
  --bg-color: var(--defaultB);
  --text-color: var(--defaultW);
  --button-bg: rgba(111, 111, 111, 0.4);
  --button-text: var(--defaultW);
  --txtMute: rgba(255, 255, 255, 0.2);
  --text-em: #15ce8b;
  --bg-trans: rgba(28, 28, 28, 0.6);
  --border-color: #333333;
  --hover-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 모든 요소에 대한 전환 효과 */
/* * {
  transition: background-color 0.3s ease, color 0.18s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
} */

/* 특정 요소들의 스타일 */
.header {
  background-color: var(--nav-bg);
  border-color: var(--border-color);
}

.nav__list a {
  color: var(--text-color);
}

/* .nav__list a:hover {
  background-color: var(--hover-color);
} */

.toggle-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: var(--hover-color);
}
