/*250102*/

@media (max-width: 1024px) {
  .about__desc h1 span:not(.ico__hands) {
    transition: var(--transition);
    display: block;
    margin: 0 0 0.5rem 0;
  }
  .gallup__cont {
    transition: var(--transition);
    flex-direction: column;
    justify-content: center;
  }
  .sc__subtitle {
    margin-block: 2vh 0;
  }
  .gallup__cont .gallup__blank {
    width: 96%;
    padding-inline: 10px;
  }
  .gallup__cont .gallup__desc {
    width: auto;
    padding-inline: 10px;
    text-align: left;
  }
  .gallup__cont .gallup__desc dl {
    margin-block: 20px 0;
  }
  .gallup__img {
    display: none;
  }
  .learn-more-link {
    margin-block: 0 20px;
  }
}

@media (max-width: 960px) {
}
@media (max-width: 860px) {
  /* ------------------------
    ABOUT 
------------------------ */
  .about__cont {
    flex-direction: column;
    justify-content: center;

    /**/
    text-align: center;
  }
  .about__cont .about__img .ico__hands::before {
    right: 22vw;
    font-size: calc(3rem + 3vw);
  }
  .about__cont .about__img img {
    width: 40vw;
    margin: 0 auto;
  }
  .about__cont .about__greeting {
    width: 96%;
    padding-inline: 10px;
    text-align: left;
  }
  .about__desc p {
    margin-block: 0.8rem 0.4rem;
  }
  .about__desc h1 {
    margin-block: 2rem;
    /* text-indent: 0; */
  }
}

/* narrow-screen */
@media (max-width: 780px) {
  /* ------------------------
    HEADER
------------------------ */
  nav {
    grid-template-columns: 60px 1fr !important;
    grid-template-rows: 44px !important;
    padding-inline: 1rem;
  }

  nav .btn__home {
    grid-area: 1 / 1 / 2 / 2 !important;
  }
  nav .nav__list {
    grid-area: 1 / 2 / 2 / 3 !important;
  }

  /* ------------------------
    MENU-BAR 
------------------------ */
  .cont__nav {
    text-align: right;
  }
  .btn__menubar {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
  }
  .btn__menubar::before {
    color: var(--text-color);
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: 900;
    content: "\f0c9";
    cursor: pointer;
  }
  .btn__menubar:hover::before {
    color: var(--text-em);
  }

  .btn__menubar img:hover {
    border-radius: 4px;
    outline: 3px solid var(--hoverOutline);
  }
  .btn__menubar:hover {
    color: var(--text-em);
  }
  /* 사이드 메뉴 기본 숨김 */
  .cont__menu {
    position: fixed;
    top: 0;
    right: -100%; /* 처음에는 화면 밖 */
    width: 250px;
    height: 100vh;
    background: white;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }

  /* 메뉴가 열릴 때 */
  .cont__menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    background: var(--bg-color);
    z-index: 2000;
  }
  .cont__menu.open .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    /**/
    padding: 0;
    font-size: calc(1.8rem + 0.1vw);
  }
  .cont__menu.open .nav__list a {
    flex-direction: column;
    padding: calc(1rem + 1vw) 0;
    border-left: none;
    font-size: calc(1.8rem + 0.1vw);
  }
  .cont__menu.open .nav__list a:before {
    opacity: 0;
    width: 0;
    padding: 0 2rem;
  }
  .cont__menu.open .nav__list a:hover:before {
    opacity: 1;
    width: -webkit-fill-available;
    transition: width 0.4s ease;
  }
  .cont__menu.open .btn__mode {
    margin-block-start: 10px;
  }

  /* 사이드 메뉴 기본 숨김 */
  .cont__menu {
    position: fixed;
    top: -100%;
    width: 250px;
    height: 100vh;
    background: var(--bg-color);
    transition: top 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }

  /* 메뉴 닫힐 때 */
  .cont__menu.closed {
    top: -100%;
    transition: top 0.3s ease-in-out;
  }

  /* 닫기 버튼 스타일 */
  .btn__close {
    display: block !important;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: inherit;
    cursor: pointer;
  }
  .btn__close:hover {
    color: var(--text-em);
  }

  /* ------------------------
    COMMON 
------------------------ */
  .container {
    margin: 0 auto;
  }
  section {
    margin: calc(50px + 7vh) 0;
  }
  section#home,
  section#home .section {
    padding-inline: 0;
  }
  .sc__title {
    margin: 0 0 10px 0;
    font-size: calc(2.2rem + 1vw);
    text-align: center;
  }
  .sc__content {
    /* width: 90vw; */
    margin: 0 auto;
    text-align: left;
  }

  /* ------------------------
    HOME 
------------------------ */
  .home__cont {
    text-align: center;
  }
  .btn__resume .ico__point {
    top: 15px;
  }

  /* ------------------------
    SKILLS 
------------------------ */
  .skill__cont--set {
    margin: 20px 0 0 0;
    text-align: left;
  }

  /* ------------------------
    PROJECTS 
------------------------ */
  .project__period {
    text-align: center;
  }

  /* ------------------------
    CAREER 
------------------------ */
  .career__cont {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    /**/
    margin: 0 auto;
    border-top: none;
    text-align: center;
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  .career__cont:last-of-type {
    border-bottom: none;
  }
  .career__cont .career__logo {
    grid-area: 1 / 1 / 2 / 2;
    /**/
    padding: 20px 0;
    border-right: none;
    border-bottom: none;
    background: #fff;
  }
  .career__cont .career__logo img {
    max-width: 240px;
  }
  .career__cont .career__detail {
    grid-area: 2 / 1 / 3 / 2;
    /**/
    margin-block-start: 20px;
    padding: 0;
    /* border-left: none; */
  }
  .career__cont .career__title {
    margin: 2% 0 5% 0;
  }
  .career__cont .career__desc {
    margin: 0 0 10% 0;
  }
}
