.typo__layout__col {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* min-height: 100vh; */
  font-size: 36px;
  font-weight: bold;
}
.typo__layout__row {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* min-height: 100vh; */
  font-size: 36px;
  font-weight: bold;
}
.typo__layout__col .typo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--txtMute);
}
.typo__layout__row .typo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.typo__wrapper {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}

/* scroll-animation */
.typo__wrapper {
  opacity: 0; /* 초기 상태에서 보이지 않음 */
  transform: translateX(0); /* x 축 이동 초기화 */
  will-change: opacity, transform; /* 성능 최적화 */
}
.typo__wrapper.active {
  opacity: 1;
  transform: translateY(0); /* 원래 위치 */
}

/* ------------------------
  narrow-screen
------------------------ */
@media (max-width: 780px) {
  .typo__layout__row,
  .typo__layout__row .typo__container {
    flex-direction: column;
    transition: 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .typo__layout__col,
  .typo__layout__col .typo__container {
    transition: 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .typo__wrapper {
    flex: 0 0 auto;
    transition: 3.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;
  }
  /* .home__typo--lg {
    font-size: calc(2rem + 20vw);
    line-height: calc(22vw + 1vh);
  }
  .home__typo--md {
    margin: 3vh 0;
    font-size: calc(2rem + 8vw);
    line-height: calc(8.8vw + 1vh);
  }
  .home__typo--sm {
    font-size: calc(1rem + 4vw);
    line-height: calc(11vw + 1vh);
  } */
}

/* ------------------------
  Scroll-top btn
------------------------ */
.scroll__container {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}
#top {
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  border: 1px solid var(--bg-color);
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
#top:hover {
  border: 1px solid var(--text-em);
  background: var(--text-em);
}
